:root {
    --sel-width: 300px;
}
label{
    display: block;
    padding: 3px;
}

button{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 12px;
    /*background: #035369;*/
    background: #24667E;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
  
}

body{
    background-color: #EFEFEF;
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 14px;
}
h1 {
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-size: 36px;
}

h2 {
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
}

h3 {
  margin: 0;
  font-size: 20px;
}

h4 {
  margin: 0;
  font-size: 18px;
}

.claro{
    background-color:#227c70;
}
.contenedor{
	display: flex;
	flex-wrap: wrap;
}

.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.8); /* Black background with opacity */
    color: black;/*white;*/
    position: absolute;
    width: 100%;
    /*height: calc(100% - 100px);*/
    height: 100%;
}
/* div de mapa */
#cmap{
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 9; 
    /*z-index: 0; */
}
#hide_map2{
    position: relative;
    top: 0;
    left: 350px;
    z-index: 999; 
}
#texto_mapa{
    position: relative;
    top: 0;
    color: white;
    left: 180px;
    z-index: 999; 
}
#map{
    position: relative;
    width: 400px;
    height: 400px;
    top: 0;
    left: 0;
    margin: 0;
    animation: slide2r 3s 1;
}
#div_cfg{
    position: absolute;
    visibility: hidden;
    /*width: 320px;*/
    z-index: 1000;
    top: 0px;
}
/*para fines de desarrollo*/
/*
div{
    border: 1px dashed #32a1ce;
}
*/
#div_central{
    width: 450px;
}
.div_central{
    width: 355px;
    margin: 1%;
    padding: 1%;
}
#div_intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 650px;
}
/* div ayuda / manual de usuario */
#div_manual{
    position: relative;
    width: 355px;
    height: 200px;
    animation: slide2d 3s 1;
}
#div_describe{
    position: relative;
    height: 290px;
    animation: slide2l 3s 1;
}
@keyframes slide2r{
  from {
      left: -400px;
      opacity: 0;
  }

  to {
      left: 0px;
      opacity: 1;
  }
}
@keyframes slide2u {
  from {
      bottom: -400px;
      opacity: 0;
  }

  to {
      bottom: 0px;
      opacity: 1;
  }
}

@keyframes slide2l{
  from {
      right: -400px;
      opacity: 0;
  }

  to {
      right: 0px;
      opacity: 1;
  }
}
@keyframes slide2d {
  from {
      top: -400px;
      opacity: 0;
  }

  to {
      top: 0px;
      opacity: 1;
  }
}

/* div de punto */
#div_coor{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 160px;
    animation: slide2u 3s 1;
}
.div_incoor{
    margin: 5px;
    padding: 5px;
    height: 70px;
    display: flex;
    flex: 1 ;
}
.div_centered{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* div de selección de variable */
#csel{
    display: inline-block;
    height: 580px;
    width: 400px;
    padding: 10px;
}
#div_tabs{
    width: var(--sel-width);
    height: 40px;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

#div_puntos{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
/* div gráficas */
#cmain{
    flex-direction: column;
    z-index: 1001;
    top: 100px;
    visibility: hidden;
}
#div_barra{
    width: 50px;
    height:150px;
    font-size: 32px;
    margin: 2px;
    padding: 1px;
    right: 0px;
    justify-content: space-around;
}

.div_cool{
    border: 2px solid #24667E;
    border-radius: 12px;
    background-color: #ffffffaa;
}

#main{
    width: 100%; 
    margin: 10px;
}

#div_button_main{
    position: fixed;
    top: 200px;
    left: 20px;
}

#layercontrol{
    width: 150px;
    height: 100px;
    font-size: 14px;
    font-family: 'sans';
    text-align: left;
}
.div_lateral{
    widht:350px;
}

.menu_btn{
  background-color: rgba(0,0,0,.10);
  border: none;
  color: white;
  padding: 2px 15px 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.menu_btn:hover{font-size:14px;}

.my-div-img{
    position:absolute;
    bottom: 50%;
    right: 0%;
    height: 15px;
 }
.a_header{
    color: white;
    font-size: medium;
}

#header{
    text-align: center;
    color: #FFFFFF;
    background-image: url("https://pronosticos.atmosfera.unam.mx/atlasmeteorologico.gom/img/encabezado.jpg");
}

.plegable_btn{
    width: 100%;
    border-radius: 0px;
    border-top:1px solid rgba(255,255,255,.1);
}
.plegable_btn:hover {
    background-color: #439376;
}
.plegable_btn:after {
  content: '\00BB';
}
.plegable_btn2{
    width: 100%;
    border-radius: 0px;
    border-top:1px solid rgba(255,255,255,.1);
    background-color: transparent;
    color: #000;
    text-align: left;
}
.plegable_btn2:hover {
    background-color: #CCD1D1;
}
.plegable_btn2:before{
  content: '\27A4';
}
.div_anual{
    /*height: 390px;*/
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}
.plegable{
    width: 100%;
    display: none;
}

.tab-content{
    position: relative;
    margin: 10px;
}

.tab{
    padding: 5px 10px 5px 10px;
    background-color: #244F7E;
    border-radius: 10px 10px 0px 0px;
}
.tab:focus{
    background-color: #34495E;
}

.leaflet-container {
	cursor: url("https://pronosticos.atmosfera.unam.mx/AGMseries/gis_agm_series/img/location-dot-solid.png"), crosshair;
}
