:root {
    --sel-width: 300px;
}
.contenedor{
	display: flex;
	flex-wrap: wrap;
}

.overlay{
    background-color: rgba(255,255,255,0.8); /* Black background with opacity */
    color: black;/*white;*/
    display: none;
}
/* div de mapa */
#cmap{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9; 
    /*z-index: 0; */
}
#hide_map2{
    position: relative;
    top: 0;
    left: 90%;
    z-index: 999; 
}
#map{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    z-index: 10; 
}
#body{
    display: flex;
    justify-content: space-between;
}
/* div de selección */
#csel{
    display: inline-block;
    width: 310px;
    height: 580px;
    background-color: #e6e8eb;
    padding: 10px;
}
#div_tabs{
    width: var(--sel-width);
    height: 40px;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

#div_puntos{
    width: var(--sel-width);
    height: 400px;
    overflow-y: scroll;
}
/* div gráficas */
#cmain{
    display: inline-block;
    width:calc(100% - 330px);
}

#main{
    display: inline-block;
    width: 100%; 
}

#div_button_main{
    position: fixed;
    top: 200px;
    left: 20px;
}

#layercontrol{
    width: 150px;
    height: 100px;
    font-size: 14px;
    font-family: 'sans';
    text-align: left;
}

.menu_btn{
  background-color: rgba(0,0,0,.10);
  border: none;
  color: white;
  padding: 2px 15px 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.menu_btn:hover{font-size:14px;}

.my-div-img{
    position:absolute;
    bottom: 50%;
    right: 0%;
    height: 15px;
 }

 button{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 12px;
    /*background: #035369;*/
    background: #24667E;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
  
 }

body{
    background-color: #EFEFEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.claro{
    background-color:#227c70;
}
a {
    color: inherit;
    text-decoration: none;
}
a:link, a:visited{
    background-color: transparent;
}
.a_header{
    color: white;
    font-size: medium;
}

#header{
    text-align: center;
    color: #FFFFFF;
    background-image: url("https://pronosticos.atmosfera.unam.mx/atlasmeteorologico.gom/img/encabezado.jpg");
}

.plegable_btn{
    width: 100%;
    border-radius: 0px;
    border-top:1px solid rgba(255,255,255,.1);
}
.plegable_btn:hover {
    background-color: #439376;
}
.plegable_btn:after {
  content: '\00BB';
}
.plegable_btn2{
    width: 100%;
    border-radius: 0px;
    border-top:1px solid rgba(255,255,255,.1);
    background-color: transparent;
    color: #000;
    text-align: left;
}
.plegable_btn2:hover {
    background-color: #CCD1D1;
}
.plegable_btn2:before{
  content: '\27A4';
}
.div_anual{
    /*height: 390px;*/
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}
.plegable{
    width: 100%;
    display: none;
}

.tab-content{
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
}

.tab{
    padding: 5px 10px 5px 10px;
    background-color: #244F7E;
    border-radius: 10px 10px 0px 0px;
}
.tab:focus{
    background-color: #34495E;
}

.leaflet-container {
	cursor: url("https://pronosticos.atmosfera.unam.mx/AGMseries/gis_agm_series/img/location-dot-solid.png"), crosshair;
}
