.contenedor{
	display: flex;
	flex-wrap: wrap;
}

.overlay {
    /*position: fixed; /* Sit on top of the page content */
    top: 100px;
    left: 10px;
    background-color: rgba(255,255,255,0.3); /* Black background with opacity */
    color: black;/*white;*/
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}
#layercontrol{
    width: 150px;
    height: 100px;
    font-size: 14px;
    font-family: 'sans';
    text-align: left;
}

.menu_btn{
  background-color: rgba(0,0,0,.10);
  border: none;
  color: white;
  padding: 2px 15px 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.menu_btn:hover{font-size:14px;}

.my-div-img{
    position:absolute;
    bottom: 50%;
    right: 0%;
    height: 15px;
 }
